.m-datepicker{
  position:fixed;display: none;
  width:280px;padding:10px;
  text-align: center;background-color: #fff;box-shadow: 0 0 2px 2px #999;border-radius:4px;
}
.m-datepicker.z-show{
  display: block;
}
.m-datepicker h1{
   margin-top: 0;margin-bottom: 0;
   font-size: 14px;font-weight: normal;
}
.m-datepicker .g-hd{
  display: table;width: 100%;
}
.m-datepicker .g-hd>*{
  display: table-cell;vertical-align: middle;
}
.m-datepicker .g-bd table{
  table-layout: fixed;
  width:260px;
  text-align: right;font-size:14px;
}
.m-datepicker .g-bd table .s-gray{
  color:#999;
}
.m-datepicker .g-bd thead td{
  width:24px;
}
.m-datepicker .g-bd tbody td{
  cursor: pointer;
}
.m-datepicker .g-bd tbody td:hover{
  background-color: #ddd;
}